# EDA on the census dataset

## Load relevant packages

In [2]:
import pandas as pd

## Load the data

In [3]:
data = pd.read_csv("./data/census.csv")

## Inspect the data

In [9]:
data.tail()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# get categorical features
data.select_dtypes(include=['object']).columns

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'salary'],
      dtype='object')

In [6]:
# get numeric features
data.select_dtypes(include=['number']).columns

Index(['age', 'fnlgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

In [8]:
data.loc[0]

age                          39
workclass             State-gov
fnlgt                     77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
salary                    <=50K
Name: 0, dtype: object

In [12]:
data.loc[len(data)-1]

age                               52
workclass               Self-emp-inc
fnlgt                         287927
education                    HS-grad
education-num                      9
marital-status    Married-civ-spouse
occupation           Exec-managerial
relationship                    Wife
race                           White
sex                           Female
capital-gain                   15024
capital-loss                       0
hours-per-week                    40
native-country         United-States
salary                          >50K
Name: 32560, dtype: object